<!--PRELOADER-->
<div id="preloader">

  <div class="alignment">
    <div class="v-align center-middle"> 

      <!-- LEFT HEART -->
      <div class="heart-animation">                	
        <i class="de-icon-heart"></i>
      </div>

      <!-- RIGHT HEART -->
      <div class="heart-animation-reverse">
        <i class="de-icon-heart"></i>
      </div>     

    </div>
  </div>

</div> <!--END of PRELOADER-->

<header id="nav-header">
  <nav id="nav-bar" class="{{ .navClass }}">
    <div id="nav-wrapper">
      <div class="logo-wrapper">
        <a href="/">
          <div class="css-logo rounded">
            <div class="css-logo-text">
              <strong>J</strong><i class="de-icon-heart-1"></i><strong>A</strong>
            </div>
          </div>
        </a>
      </div>

      <div id="mobile-nav">
        <i class="de-icon-menu"></i>
      </div>

      <ul id="nav-menu">
        <li class="first-child">
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/#the-story" onclick="scrollTo('#the-story', -175)">THE STORY</a>
        </li>
        <li class="first-child split-margin">
          <a href="#">THE WEDDING</a>
          <ul>
            <li><a href="/location">LOCATION</a></li>
            <li><a href="/accomodation">ACCOMODATION</a></li>
            <li><a href="/gift">GIFT REGISTRY</a></li>
            <li>
              <a href="#">BRIDESMAIDS</a>
            </li>
            <li>
              <a href="#">GROOMSMENS</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/rsvp">RSVP</a>
        </li>
      </ul>

      <div class="clearboth"></div>

    </div>
  </nav>
</header>
